### number
declare -xir file_count=11

### number
declare -xir file_size=1

### date in seconds
declare -xr dump_file_name=tcpdump-$(date +%s)

### do not change if you use the default interface, otherwise change
declare -xr inet_name=$(ip route show default | cut -f5 -d ' ')
